textarea.form-control{
	height: 150px;
	width: 329px;
}
#form-left{

	margin-top: -450px;
    margin-left: -170px;
}

.control-label,.form-control,.btn-primary{
	margin-top: 10px;
}

img{
	margin-bottom: 10px;
}

#descripcion {

	margin-left: 340px;
	width: 296px;
}
